{{#if model.departmentsNearby}}
<a href="#" class="item-link smart-select" id="nearbySelect" data-pagetitle="附近营业部">
	<select name="nearby">
	{{#each model.departmentsNearby}}
		<option value="{{value}}">{{department}}</option>
	{{/each}}
	</select>
</a>

{{else}}

<a href="#" class="item-link smart-select" id="allSelect" data-pagetitle="选择营业部" data-searchbar="true" data-searchbar-placeholder="营业部名称" data-searchbar-cancel="取消">
	<select name="all">
	{{#each model.departmentsAll}}
		<optgroup label="{{group}}">
			{{#each departments}}
				<option value="{{value}}">{{department}}</option>
			{{/each}}
		</optgroup>
	{{/each}}
	</select>
</a>
{{/if}}
